* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#canvas,
#buttonContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#buttonContainer {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowButton,
.centerButton,
.zoomButton,
.settingsButton {
    pointer-events: auto;
    background-color: #3498db;
    color: #ffffff;
    font-size: clamp(1.5rem, 3vw, 3rem);
    padding: clamp(1rem, 2vw, 2rem) clamp(2rem, 4vw, 4rem);
    border: none;
    border-radius: 5px;
    text-align: center;
}

.arrowButton:not(:last-child) {
    margin-bottom: 10px;
}

#upButton {
    margin-bottom: auto;
}

#downButton {
    margin-top: auto;
}

#leftButton {
    margin-right: auto;
}

#rightButton {
    margin-left: auto;
}

#centerButtonContainer,
#zoomButtonContainer,
#settingsButtonContainer {
    position: fixed;
    padding: 10px;
}

#zoomButtonContainer {
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#settingsButtonContainer {
    bottom: 0;
    left: 0;
}

.arrowButton:hover,
.centerButton:hover,
.zoomButton:hover,
.settingsButton:hover {
    background-color: #2980b9;
    cursor: pointer;
}

#tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    display: none; /* Verstecken des Tooltips */
    font-size: 3em; /* Setzt die Schriftgröße auf das Doppelte der Standardgröße */
}

.settingsPopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    font-size: 1.5rem; /* Vergrößert die Schriftgröße im gesamten Popup */
    line-height: 2; /* Erhöht den Zeilenabstand im gesamten Popup */
}

.settingsContent {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem; /* Vergrößert das Schließen (x) Symbol */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#saveSettings {
    font-size: 1.5rem; /* Vergrößern der Schriftgröße */
    padding: 1rem 2rem; /* Festgelegter Abstand */
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveSettings:hover {
    background-color: #2980b9;
}

@media (min-width: 1024px) {
    .arrowButton,
    .centerButton,
    .zoomButton,
    .settingsButton {
        font-size: 2rem;
        padding: 1.5rem 3rem;
    }
}
