* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 0.2em solid #ccc;
    padding: 0.4em;
    display: none; /* Verstecken des Tooltips */
    font-size: 3em; /* Setzt die Schriftgröße auf das Doppelte der Standardgröße */
    font-family: "arial";
}