.hintergrund-schwarz {
    background-color: #262626;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Add this line */
}

.elements-row {
    display: flex;
    justify-content: space-around;
    /* Change this from center to space-around */
    width: 100%;
    /* Add this line */
}

.elements-row>* {
    flex: 1;
    /* Add this line */
    text-align: center;
    /* Add this line if you want the content of each element to be centered */
}

#Knopf1 {
    background-color: green;
    margin-right: 1em;
}

#Knopf2 {
    background-color: green;
    margin-right: 1em;
}

#InpF1,
#InpF2,
#InpF3 {
    color: rgb(49, 156, 0);
    background-color: #262626;
}


canvas {
    width: 100%;
}

.canvas-container {
    width: 100%;
}

input[type=number],
input[type=text] {
    font-size: 4vw;
    /* Adjust this value as needed */
}

@media (max-width: 600px) {
    .center {
      flex-direction: column;
    }
    .elements-row {
      flex-wrap: wrap;
      justify-content: center;
    }
  }