.hintergrund-schwarz {
    background-color: #262626;
}

.center {
    display: flex;
    justify-content: center;
}
#Knopf1,#Knopf2 {
    background-color:green;
    margin-left: 10% ;
    margin-right: 10% ;
}

#InpF1, #InpF2 {
    font-size: 50px;
     color:rgb(49, 156, 0);
     background-color: #262626;
}